@mixin border($direction) {
    @if $direction == top {
        border-top: 1px solid $border;
    }
    @if $direction == right {
        border-right: 1px solid $border;
    }
    @if $direction == bottom {
        border-bottom: 1px solid $border;
    }
    @if $direction == left {
        border-left: 1px solid $border;
    }
}

@mixin flex($flex-direction, $justify-content, $align-items, $flex-wrap: wrap) {
    display: flex;
    @if $flex-direction {
        flex-direction: $flex-direction;
    }
    @if $justify-content {
        justify-content: $justify-content;
    }
    @if $align-items {
        align-items: $align-items;
    }
    @if $flex-wrap {
        flex-wrap: $flex-wrap;
    }
}
